/* :root {
  --primary-color: #473f5a;
  --primary-light-color: #a38bd4;
  --secondary-color: #100c18;
  --secondary-light-color: #27262c;
  --button-background-color: #21c6d4;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  text-decoration: none;
}

.dark-theme {
  --primary-color: #473f5a;
  --primary-light-color: #a38bd4;
  --secondary-color: #100c18;
  --secondary-light-color: #27262c;
  --button-background-color: #21c6d4;
  --heading-color: #fff;
}

.light-theme {
  --primary-color: #473f5a;
  --primary-light-color: #a38bd4;
  --secondary-color: #fff;
  --secondary-light-color: #aaa;
  --button-background-color: #a38bd4;
  --heading-color: #fff;
}

.text-heading {
  color: var(--heading-color);
}

.text-my-primary {
  color: var(--primary-light-color);
}

.input-box,.input-box:focus {
  color: var(--heading-color);
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 15px;
}

.btn-my, .btn-my:hover {
  color: var(--heading-color);
  background-color: var(--button-background-color);
  width: 100%;
  padding: 5px;
  border: none;
  font-weight: bold;
  border-radius: 15px;
}